.politicas {
    h1,
    p {
        color: #7a7a7a;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
    nav ul li {
        list-style: decimal;
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 400;
    }
}
.btn-voltar a{
    width: 100px;
    background-color: #61ce70 !important;
    padding: 12px 14px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
}