* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: #121214;
}
.mobbin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}
.logo {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 480px;
    width: 100%;
    .registre {
        margin-top: 20px;
        font-family: Barlow Semi Condensed;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #ccc;

        a {
            font-family: Barlow Semi Condensed;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 35px;
            letter-spacing: -0.02em;
            text-align: center;
            color: #fac51c;
            text-decoration: none;
        }
    }
}
.login {
    .titulo {
        margin-top: 30px;
        max-width: 480px;
        width: 100%;
        p {
            text-align: center;
            color: #ccc;
            font-weight: 900;
            font-size: 24px;
        }
    }
}

.campo-login {
    background-color: rgb(32, 32, 36);
    max-width: 480px;
    width: 100%;
    border-radius: 5px;
    padding: 64px;
}
form {
    display: flex;
    flex-direction: column;
}
form h1 {
    color: #ccc;
    font-size: 25px;
    margin-bottom: 39px;
}
section {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}
.email > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.inputs {
    position: relative;
    flex: 1 1 0%;
    svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        fill: rgb(40, 39, 44);
        font-size: 14px;
        transition: fill 0.2s ease 0s;
    }
    input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        background: rgb(18, 18, 20);
        border-color: rgb(18, 18, 20);
        color: rgb(255, 255, 255);
        padding: 0px 1em 0px 2.65em;
        border-radius: 5px;
    }
}

input {
    outline: 0;
    transition: border 0.2 ease 0s;
    border: 2px solid rgb(40, 39, 44);
}
input:focus,
textarea:focus {
    border-color:#fff;
}

.inputs:focus-within svg {
    fill: white;
}
.inputs:focus-within svg {
    fill: white;
}
.Doxm {
    margin: 18px auto 0;
}
.PcCxl {
    font-size: 14px;
    margin-top: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 26px;
    a {
        font-size: 14px;
        font-weight: 600;
        color: white;
        margin: 40px 0px 24px;
        opacity: 0.8;
        transition: opacity 0.2s ease 0s;
    }
    a:hover {
        opacity: 1;
    }
}
form > .btn-cadastrar {
    margin-top: 20px;
}
.btn-cadastrar {
    background: #121214;
    border-radius: 5px;
    border: #121214 1px solid;
    color: #fff;
    font-weight: bold;
    height: 50px;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-cadastrar:hover {
    background: white;
    color: #121214;
}
.simetria {
    max-width: 480px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.btn-entrar {
    width: 100%;
    background: #8257e5;
    color: #ccc;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    text-transform: uppercase;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
}
.btn-entrar:hover {
    background: rgb(168, 131, 255);
    border: 0px;
}
.forgot {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(130, 87, 230);
    margin: 8px 0px 24px;
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
    align-self: flex-start;
    outline: none;
}
.forgot:hover {
    color: rgb(130, 87, 230);
    opacity: 1;
}

.naotem {
    font-size: 14px;
    margin-top: 24px;
    color: rgb(204, 204, 204);
    text-align: center;
    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: rgb(130, 87, 230);
        margin: 8px 0px 24px;
        opacity: 0.8;
        transition: opacity 0.2s ease 0s;
        align-self: flex-start;
    }
    a:hover {
        color: rgb(130, 87, 230);
        opacity: 1;
    }
}
.bSLbKf {
    position: relative;
    font-size: 12px;
    color: rgb(135, 134, 139);
    margin: 24px 0px;
    text-align: center;
}
.bSLbKf::after {
    right: 0px;
}
.bSLbKf::before {
    left: 0px;
}
.bSLbKf::before,
.bSLbKf::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 25px);
    height: 1px;
    background: rgb(40, 39, 47);
}
.ou {
    color: rgb(225, 225, 230);
    font-size: 14px;
    white-space: nowrap;
    margin-right: 24px;
    align-self: center;
}
.github {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(41, 41, 46);
    border-radius: 5px;
    border: 0px;
    color: rgb(255, 255, 255);
    height: 50px;
    transition: background 0.2s ease 0s;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        color: rgb(124, 98, 212);
        transition: all 0.2s ease 0s;
    }
}
.github:hover {
    background: rgb(124, 98, 212);
    color: #ccc;
    svg {
        color: #ccc;
    }
}



@media only screen and (max-width: 425px) {
    .logo {
    order: -1;
    }
}
