@import "animate";
.ja-sou {
    margin-top: 100px;
    margin-bottom: 50px;
}
* {
    transition: all 0.2s;
}
:root {
    --space-cadet: #191919;
    --teal-blue: transparent;
    --green-sheen: #191919;
    --blue-green: #191919;
    --dark-orange: #ff8811;
    --height-of-clps-lv-1: 0px;
    --height-of-clps-lv-2: 0px;
}
.btn-sou-vip {
    width: 380px;
    height: 64px;
    background: transparent;
    border: 3px #f4dd08 solid;
    color: #ccc;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
}
.btn-sou-vip:hover {
    border: 3px #ccc solid;
    background-color: #920606;
    transition: all 0.3s ease-out;
}
.banner-1 {
    img {
        width: 800px;
        height: 450px;
    }
}
.itens {
    img {
        width: 100%;
        height: auto;
    }
    h2 {
        font-size: 3rem;
        font-weight: 800 !important;
    }
    .mid-text {
        margin: 4% 30px;
    }
    .text-colum {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
    }

    .text-line-1 {
        color: #cfff00;
        font-family: "Barlow", Sans-serif !important;
        line-height: 1;
    }
    .text-line-2 {
        color: white;
        font-family: "Barlow", Sans-serif !important;
        font-size: 1.4em;
        line-height: 1.5;
    }
}
// .grid-layout {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     width: 100%;
//     .item {
//         max-width: 476px;
//         max-height: 476px;
//         padding: 10px;
//         width: 100%;
//         height: auto;
//         margin-bottom: 10px;
//         img {
//             width: 100%;
//             height: 100%;
//         }
//         .text-colum {
//             padding: 38px;
//             margin-top: 50%;
//             display: flex;
//         }
//         .text-line-1 {
//             color: #cfff00;
//         }
//         .text-line-2 {
//             color: #ccc;
//             font-size: 16px;
//             font-weight: 400;
//         }
//         .text-line-1:not(:last-child) {
//             margin-bottom: 20px;
//         }
//     }
// }

@media only screen and (max-width: 425px) {
    .ja-sou {
        margin-bottom: 0;
    }
    .btn-sou-vip {
        width: 240px;
    }
    .banner-1 {
        display: none;
    }
    .m-banner-1 {
        order: -1;
    }
    .m-banner-1 img {
        width: 375px;
        height: 812px;
    }
    .grid-layout {
        grid-template-columns: repeat(1, 1fr);
        .item img {
            margin-top: 20px;
            // width: 375px;
            // height: 375px;
        }
        .img1 {
            order: -9;
        }
        .txt1 {
            order: -8;
        }
        .img2 {
            order: -7;
        }
        .txt2 {
            order: -6;
        }
        .img3 {
            order: -5;
        }
        .txt3 {
            order: -4;
        }
        .img4 {
            order: -3;
        }
        .txt4 {
            order: -2;
        }
        .img5 {
            order: -1;
        }
    }
}
@media only screen and (max-width: 650px) {
    .text-colum {
        background-color: white;
        color: black;
        border-radius: 5%;
    }
    .itens {
        text-align: center;
        .text-line-1 {
            color: black;
            font-family: "Barlow", Sans-serif !important;
            line-height: 1;
        }
        .text-line-2{
            color: #999;
        }
    }
}
@media only screen and (max-width: 375px) {
    .m-banner-1 img {
        width: 355px;
        height: 768px;
    }
}
@media only screen and (max-width: 320px) {
    .m-banner-1 img {
        width: 300px;
        height: 649px;
    }
}
.clps-menu {
    overflow: hidden;
    position: relative;
    // width: 300px;
}
.icon-plus {
    position: absolute;
    right: 5%;
}
.clps-menu {
    h4 {
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 1;
        font-family: "Barlow", Sans-serif !important;
    }
}
.clps-menu button,
.clps-menu a {
    display: inline-block;
    width: 100%;
    color: #a0a0a0;
    border: none;
    font-weight: 800;
    background-color: transparent;
    font-family: "Barlow", Sans-serif !important;
    text-align: left;
}

.clps-lv-1 {
    background-color: var(--space-cadet);
    li {
        color: white;
        font-size: 1.5em;
        line-height: 1.5;
        font-family: "Barlow", Sans-serif !important;
        margin: 0 35px;
    }
    p {
        color: white;
        font-size: 1.5em;
        line-height: 1.5;
        font-family: "Barlow", Sans-serif !important;
        margin: 5px 0;
    }
    ul {
    }
}

.clps-lv-1 > a,
.clps-lv-1 > button {
    padding: 7px 15px;
    // margin: 3px 0;
}

.clps-lv-1 > ul {
    max-height: 0;
}

.clps-lv-1.collapsed > ul {
    max-height: calc(var(--height-of-clps-lv-1) + var(--height-of-clps-lv-2));
}

.clps-lv-2 {
    font-size: 0.9em;
    background-color: #121214;
}

.clps-lv-2 a,
.clps-lv-2 button {
    padding: 15px 20px;
}

.clps-lv-2 > ul {
    max-height: 0;
}

.clps-lv-2.collapsed > ul {
    max-height: var(--height-of-clps-lv-2);
}

.clps-item {
    background-color: #121214;
}

.clps-item a {
    font-size: 0.9em;
    padding: 10px 20px;
}

.clps-item span {
    color: black;
}

.clps-menu > ul {
    visibility: hidden;
    opacity: 0;
}

.clps-menu.collapsed > ul {
    visibility: visible;
    opacity: 1;
}

.clps-menu:hover {
    background-color: var(--green-sheen);
}

.clps-item:hover {
    background-color: var(--dark-orange);
}
